---
import BlogList from "../../components/BlogList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Home">
    <section>
        <h1>Blog</h1>
        <p>Welcome to the home page.</p>
        <div>
            <BlogList />
        </div>
    </section>
</Layout>