/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
  @apply text-2xl font-bold mb-4 text-white;
}


/* More styles for lists, images, etc. */

@font-face {
  font-family: 'Gabriela'; /* Name you'll use to reference the font */
  src: url('/fonts/Gabriela-Regular.woff2') format('woff2');
  font-weight: normal; /* Adjust as needed */
  font-style: normal;  /* Adjust as needed */
  font-display: swap;  /* Ensures smooth loading */
}

@font-face {
  font-family: 'Gabriela'; /* Name you'll use to reference the font */
  src: url('/fonts/Gabriela-RegularItalic.woff2') format('woff2');
  font-weight: normal; /* Adjust as needed */
  font-style: italic;  /* Adjust as needed */
  font-display: swap;  /* Ensures smooth loading */
}

@font-face {
  font-family: 'Inter'; /* Name you'll use to reference the font */
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal; /* Adjust as needed */
  font-style: normal;  /* Adjust as needed */
  font-display: swap;  /* Ensures smooth loading */
}
