---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Assaly.ch">
    <div class="flex justify-between ">
        <div class="text-white lg:underline uppercase font-bold">Morad</div>
        <div class="text-white underline uppercase font-bold">Morad</div>
        <div class="text-white underline uppercase font-bold">Morad</div>
        <div class="text-white underline uppercase font-bold">Morad</div>
        <div class="text-white underline uppercase font-bold">Morad</div>
        <div class="text-white underline uppercase font-bold">Morad</div>
    </div>
</Layout>