---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Assaly.ch">
    <div class="text-white font-inter font-[400] text-[14px] leading-[150%] px-[19px] mt-[30px]">
        <h1 class="text-white font-gabriela italic font-[600] text-[30px] leading-[30px]">Ethical Marketing Policy</h1>
        <p class="mt-4">
            At assaly.ch, we believe in building trust and transparency with our customers. This extends to our marketing practices, where we strive to be ethical, responsible, and respectful in all our endeavors.
        </p>
        <p class="mt-4">This policy outlines our core principles for ethical marketing:</p>
        <ul>
            <li>
                <strong>Honesty and Transparency:</strong> We are committed to providing accurate and truthful information in all our marketing materials. We avoid misleading claims, deceptive practices, or hidden fees.
            </li>
            <li><strong>Customer Focus:</strong> Our marketing efforts are designed to genuinely inform and educate our audience about our products and services. We prioritize customer needs and avoid manipulative tactics that pressure them into unwanted purchases.</li>
            <li><strong>Respectful Communication:</strong> We treat our audience with respect, avoiding offensive language, stereotypes, or discriminatory practices. Our marketing materials are inclusive and reflect the diversity of our customers</li>
            <li><strong>Environmental Responsibility:</strong> We strive to minimize the environmental impact of our marketing activities. We explore eco-friendly options for advertising and promote sustainable practices whenever possible.</li>
            <li><strong>Fair Competition:</strong> We believe in fair and ethical competition. We avoid making disparaging comments about competitors or engaging in practices that could mislead the market.</li>
            <li><strong>Data Privacy:</strong> We respect the privacy of our customers and handle their data according to all applicable laws and regulations. We are transparent about how we collect, use, and share customer data.
            </li>
        </ul>
        <p class="mt-4">We are committed to upholding these ethical principles in all our marketing activities. We regularly review and update this policy to ensure it reflects best practices and aligns with evolving industry standards.</p>
        <p class="mt-4">If you have any questions or concerns about our marketing practices, please don't hesitate to contact us.</p>
    </div>

</Layout>