---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Client from '../components/Client.astro';
import ClientsCarousel from '../components/ClientsCarousel.astro';
import CaseStudy from '../components/CaseStudy.astro';
import TestimonialCarousel from '../components/TestimonialCarousel.astro';
import ClientsCarouselSwiper from '../components/ClientsCarouselSwiper.astro';
import BlogsFooterGrid from '../components/BlogsFooterGrid.astro';
import Partners from '../components/Partners.astro';
import FooterDesktop from '../components/FooterDesktop.astro';
import FooterMobile from '../components/FooterMobile.astro';
---

<Layout title="Welcome to Astro.">
	
		
		<div class="mobile mb-32 lg:hidden">
			<section>
				<div class="px-5 mt-10">
					<p class="font-inter text-white text-3xl font-[200]">We are a hyper-modern e-commerce <span class="font-medium">agency</span> epitomizing digital virtuosity and prescient innovation. </p>
				</div>
			</section>
			<section>
				<h2 class="text-[#F7EC13] font-inter text-[28px] font-[500] px-5 mt-5">We work(ed) with...</h2>
			</section>
		
			<section class="">
				<!-- <ClientsCarousel /> -->
				<ClientsCarouselSwiper />
				<div class="flex justify-start mt-6 mx-3 mb-3">
					<div class="font-inter uppercase text-[#171F29] bg-[#F7EC13] font-extrabold p-2 rounded-tr-md rounded-bl-md">
						Grow with us
					</div>
				</div>
			</section>
	
			<section class="bg-white">
				<h3 class="font-inter text-[#171F29] uppercase text-[14px] text-center">Future proof your e-commerce</h3>
				<div><hr /></div>
				<div class="flex flex-col">
					
					<CaseStudy title="Digital Design" body="We are a hyper-modern e-commerce agency epitomizing digital virtuosity and prescient innovation. " services={["Pay per click", "Pay per click", "Pay per click", "Pay per click", "Pay per click"]} />
					<CaseStudy title="Digital Design" body="We are a hyper-modern e-commerce agency epitomizing digital virtuosity and prescient innovation. " services={["Pay per click", "Pay per click", "Pay per click"]} />
				</div>
			</section>

			<section class="bg-white">
				<TestimonialCarousel />
			</section>
			<section>
				<div class="h-[540px] bg-cover flex flex-col justify-end" style="background-image: url('/case-studies.png');">
					<div class="flex bg-[#FEEF50] justify-between relative bottom-5 px-[19px]">
						<div class="font-gabriela text-[30px] text-[#171F29] italic font-[600] ">Case Studies</div>
						<img src="/clients-slider-arrow.svg" alt="">
					</div>
				</div>
			</section>

			<section class="text-white px-[14px] py-[26px] font-inter leading-[21px]">
				<p>As navigators of the evolving e-commerce landscape, we excel in ideating and executing bespoke, data-driven solutions, propelling clientele to the forefront of <b>competitive supremacy.</b></p>
				<p>Embark on a <b>transformative journey</b> of digital metamorphosis with assaly.ch, unlocking your e-commerce enterprise's potential, redefining the digital commerce paradigm, and actualizing your market zenith.</p>
				
			</section>
			<section class="flex bg-[#FEEF50] justify-evenly py-5">
				<img class="w-4 h-4" src="/x.svg" alt="">			
				<img class="w-4 h-4" src="/2.svg" alt="">			
				<img class="w-4 h-4" src="/3.svg" alt="">			
				<img class="w-4 h-4" src="/4.svg" alt="">			
			</section>
			<section class="bg-[#171F29] flex w-full px-5 pt-8 pb-4 fixed bottom-0">
				<div class="font-inter uppercase text-[#171F29] bg-[#F7EC13] font-extrabold p-2 rounded-tr-md rounded-bl-md">
					Hire Us
				</div>
			</section>
			<section>
				<BlogsFooterGrid />
			</section>
			<section class="bg-white w-full flex justify-between px-3">
				<Partners />
			</section>
			<section class="bg-[url('/china-mob.png')] bg-cover h-[480px] flex w-full ">
				<div class="max-w-[933px] w-full mx-auto">
					<div class="flex justify-between items-start bg-[#B92D32] text-white font-gabriela text-[30px] font-[600] italic w-full mt-8 px-6"><div>Is China on your <br>growth horizon?</div>
					<img class="mt-4" src="/next-white.svg" alt="">
				</div>
				</div>
			</section>
			<footer>
				<FooterMobile />
			</footer>
		</div>








		<div class="desktop hidden lg:flex lg:flex-col lg:mx-auto lg:items-center">
			<section class="grid grid-cols-2 gap-12 text-white mt-16 max-w-[933px] ">
				<div class="flex flex-col">
					<div class="font-inter text-[41px] leading-[59px] font-[200]">We are a hyper-modern e-commerce agency epitomizing digital virtuosity and prescient innovation. </div>
					<h3 class="font-inter text-[#FEEF50] font-[300] text-[41px] pt-5">We work(ed) with ...</h3>
					<div class="pt-10">
						<ClientsCarouselSwiper />
					</div>
				</div>
				<div>
					<img src="/lu.png" alt="">
				</div>
			</section>
			<section class="bg-white w-full flex justify-center mt-9 ">
				<div class="grid grid-cols-2 gap-12 mt-16 max-w-[933px]">
					<div class="mx-6"><TestimonialCarousel />
					</div>
				<div class="mx-6"><TestimonialCarousel />
					</div>
				</div>
			</section>
			<section class="bg-[url('/case-studies-desktop.png')] bg-cover h-[700px] flex w-full ">
				<div class="max-w-[933px] w-full mx-auto">
					<div class="bg-[#FEEF50] text-[#171F29] font-gabriela text-[41px] font-[600] italic w-full max-w-[445px] mt-[110px] pl-6 h-[59px]">Case Studies</div>
				</div>
			</section>
			<section class="font-inter font-[300] text-white leading-[29px] text-[19px] my-[52px]">
				<div class="max-w-[933px] w-full mx-auto">
					<p>As navigators of the evolving e-commerce landscape, we excel in ideating and executing bespoke, data-driven solutions, propelling clientele to the forefront of <span class="font-[600]">competitive supremacy.</span></p>
					<br>
				<p>
					Embark on a <span class="font-[600]">transformative journey</span> of digital metamorphosis with assaly.ch, unlocking your e-commerce enterprise's potential, redefining the digital commerce paradigm, and actualizing your market zenith.
				</p>
				</div>
			</section>
			<section class="bg-[#FEEF50] w-full py-4">
				<div class="max-w-[933px] w-full mx-auto flex justify-between">
					<div class="flex gap-4"><img src="/x.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">Twitter/X</span></div>
					<div class="flex gap-4"><img src="/2.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">VKontakte</span></div>
					<div class="flex gap-4"><img src="/3.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">新浪微博</span></div>
					<div class="flex gap-4"><img src="/4.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">LinkedIn</span></div>
				</div>
			</section>
			<section>
				<div class="max-w-[933px] w-full mx-auto">
					<BlogsFooterGrid />
				</div>
			</section>
			<section class="bg-[url('/china.png')] bg-cover h-[700px] flex w-full ">
				<div class="max-w-[933px] w-full mx-auto">
					<div class="flex justify-between items-start bg-[#B92D32] text-white font-gabriela text-[41px] font-[600] italic w-full max-w-[445px] mt-[110px] px-6">
						<div>Is China on your <br> growth horizon?</div>
						<img class="mt-4" src="/next-white.svg" alt="">
					</div>
				</div>
			</section>
			<section class="bg-white w-full flex justify-between">
				<Partners />
			</section>
			<footer>
				<FooterDesktop />
			</footer>
		</div>
</Layout>


