---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Client from '../components/Client.astro';
import ClientsCarousel from '../components/ClientsCarousel.astro';
import CaseStudy from '../components/CaseStudy.astro';
import TestimonialCarousel from '../components/TestimonialCarousel.astro';
import ClientsCarouselSwiper from '../components/ClientsCarouselSwiper.astro';
import BlogsFooterGrid from '../components/BlogsFooterGrid.astro';
import Partners from '../components/Partners.astro';
import FooterDesktop from '../components/FooterDesktop.astro';
import FooterMobile from '../components/FooterMobile.astro';
import CaseStudiesList from '../components/CaseStudiesList.astro';
---

<Layout title="Assaly.ch">
	
		
		<div class="mobile lg:hidden">
			<div class="fullscreen flex flex-col h-[calc(100svh-171px)]  justify-between">
				<div class="flex flex-col">
					<section>
						<div class="px-[19px] mt-[30px]">
							<p class="font-inter text-white text-[28px] font-[200] leading-normal">We are a hyper-modern e-commerce <span class="font-medium">agency</span> epitomizing digital virtuosity and prescient innovation. </p>
						</div>
					</section>
					
				</div>
			
				<section class="">
					<section>
						<h2 class="text-[#F7EC13] font-inter text-[28px] font-[300] px-5 mt-4">We work(ed) with...</h2>
					</section>
					<ClientsCarouselSwiper />
					
				</section>
			</div>
	
			<section id="case-studies" class="bg-white ">
				<h3 class="font-inter text-[#171F29] uppercase text-[14px] pl-[19px] leading-4 font-[700] pt-[26px] ">Future proof your e-commerce</h3>
				<div class="mx-[14px] h-[1px] bg-[#171F29]/[0.2]"></div>
				<CaseStudiesList />
			</section>

			<section class="bg-white pt-5 pb-[7px]">
				<TestimonialCarousel />
			</section>
			<section>
				<div class=" bg-cover flex flex-col justify-end h-[calc(100svh-96px)]" style="background-image: url('/case-studies.webp'); background-position:right center">
					<div class="flex bg-[#FEEF50] justify-between items-center relative bottom-5 px-[19px] h-[53px] ">
						<div class="font-gabriela text-[30px] text-[#171F29] italic font-[600] leading-normal">Case Studies</div>
						<img class="w-[15px] h-[22px]" src="/clients-slider-arrow.svg" alt="">
					</div>
				</div>
			</section>

			<section class="text-white px-[14px] py-[26px] font-inter text-[14px] font-[300] leading-[21px]">
				<p class="mb-8">As navigators of the evolving e-commerce landscape, we excel in ideating and executing bespoke, data-driven solutions, propelling clientele to the forefront of <b class="font-[700]">competitive supremacy.</b></p>
				<p>Embark on a <b class="font-[700]">transformative journey</b> of digital metamorphosis with assaly.ch, unlocking your e-commerce enterprise's potential, redefining the digital commerce paradigm, and actualizing your market zenith.</p>
				
			</section>
			<section class="flex bg-[#FEEF50] justify-between px-[65px] py-5">
				<img class="w-4 h-4" src="/x.svg" alt="">			
				<img class="w-4 h-4" src="/2.svg" alt="">			
				<img class="w-4 h-4" src="/3.svg" alt="">			
				<img class="w-4 h-4" src="/4.svg" alt="">			
			</section>
			
			<section>
				<BlogsFooterGrid />
			</section>
			
			<section class="bg-[url('/ch-mob.webp')] bg-cover h-[calc(100svh-96px)] flex w-full " style="background-position: right center;">
				<div class="max-w-[933px] w-full mx-auto">
					<div class="flex justify-between items-start h-[90px] bg-[#B92D32] text-white font-gabriela text-[30px] font-[600] italic w-full mt-8 px-6"><div class="pb-2 leading-normal">Is China on your <br>growth horizon?</div>
					<img class="mt-4 w-[15px] h-[22px]" src="/next-white.svg" alt="">
				</div>
				</div>
			</section>
			<section class="bg-white w-full flex justify-between px-3">
				<Partners />
			</section>
			<div id="no-fixed"></div>
			<section id="hire-us" class="h-[70px] bg-[#171F29] flex justify-between w-full items-center px-[13px] pt-8 pb-4 fixed bottom-0 z-10">
				<div class="
					inline-flex justify-center items-center gap-[10px] h-[22px] font-inter text-xs uppercase text-[#171F29] bg-[#F7EC13] font-[700] p-2 rounded-tr-md rounded-bl-md">
					Grow with us
				</div>
				<button id="back-to-top" class="font-inter text-[12px] font-[500] leading-normal uppercase underline text-white">Back To Top</button>
			</section>
			<footer>
				<FooterMobile />
			</footer>
		</div>








		<div class="desktop hidden lg:flex lg:flex-col lg:mx-auto lg:items-center">
			<section class="grid grid-cols-2 gap-12 text-white mt-16 max-w-[933px] ">
				<div class="flex flex-col">
					<div class="font-inter text-[41px] leading-[59px] font-[200]">We are a hyper-modern e-commerce agency epitomizing digital virtuosity and prescient innovation. </div>
					<h3 class="font-inter text-[#FEEF50] font-[300] text-[41px] pt-5">We work(ed) with ...</h3>
					<div class="pt-10">
						<ClientsCarouselSwiper />
					</div>
				</div>
				<div>
					<img src="/lu.webp" alt="">
				</div>
			</section>
			<section class="bg-white w-full flex justify-center mt-9 ">
				<div class="grid grid-cols-2 gap-12 mt-16 max-w-[933px] mb-10">
					<div class="mx-6"><TestimonialCarousel />
					</div>
				<div class="mx-6"><TestimonialCarousel />
					</div>
				</div>
			</section>
			<section class="bg-[url('/case-studies-desktop.webp')] bg-cover h-[700px] flex w-full ">
				<div class="max-w-[933px] w-full mx-auto">
					<div class="flex justify-between bg-[#FEEF50] text-[#171F29] font-gabriela text-[41px] font-[600] italic w-full max-w-[445px] mt-[110px] px-6 h-[59px]"><div>Case Studies</div>
					<img class="w-[15px] h-[22px] mt-4" src="/clients-slider-arrow.svg" alt="">
				</div>
				</div>
			</section>
			<section class="font-inter font-[300] text-white leading-[29px] text-[19px] my-[52px]">
				<div class="max-w-[933px] w-full mx-auto">
					<p>As navigators of the evolving e-commerce landscape, we excel in ideating and executing bespoke, data-driven solutions, propelling clientele to the forefront of <span class="font-[600]">competitive supremacy.</span></p>
					<br>
				<p>
					Embark on a <span class="font-[600]">transformative journey</span> of digital metamorphosis with assaly.ch, unlocking your e-commerce enterprise's potential, redefining the digital commerce paradigm, and actualizing your market zenith.
				</p>
				</div>
			</section>
			<section class="bg-[#FEEF50] w-full py-4">
				<div class="max-w-[933px] w-full mx-auto flex justify-between">
					<div class="flex gap-4"><img src="/x.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">Twitter/X</span></div>
					<div class="flex gap-4"><img src="/2.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">VKontakte</span></div>
					<div class="flex gap-4"><img src="/3.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">新浪微博</span></div>
					<div class="flex gap-4"><img src="/4.svg" alt=""><span class="font-inter font-[300] text-[16px] text-[#171F29]">LinkedIn</span></div>
				</div>
			</section>
			<section>
				<div class="max-w-[933px] w-full mx-auto">
					<BlogsFooterGrid />
				</div>
			</section>
			<section class="bg-[url('/china.webp')] bg-cover h-[700px] flex w-full ">
				<div class="max-w-[933px] w-full mx-auto">
					<div class="flex justify-between items-start bg-[#B92D32] text-white font-gabriela text-[41px] font-[600] italic w-full max-w-[445px] mt-[110px] px-6">
						<div>Is China on your <br> growth horizon?</div>
						<img class="mt-4 w-[15px] h-[22px]" src="/next-white.svg" alt="">
					</div>
				</div>
			</section>
			<section class="bg-white w-full flex justify-between">
				<Partners />
			</section>
			<footer>
				<FooterDesktop />
			</footer>
		</div>
</Layout>

<script>
					const observer = new IntersectionObserver(entries => {
						entries.forEach(entry => {
							if (entry.target.id === 'no-fixed' && entry.isIntersecting) {
								document.querySelector('#hire-us').classList.remove('fixed')
							}
							else{
								document.querySelector('#hire-us').classList.add('fixed')
							}
						})
					})
					observer.observe(document.querySelector('#no-fixed'))
					window.addEventListener('scroll', function() {
						var backToTopButton = document.getElementById('back-to-top');
						if (window.pageYOffset > 500) {
							backToTopButton.style.display = "block";
						} else {
							backToTopButton.style.display = "none";
						}
					});
					document.getElementById('back-to-top').addEventListener('click', function() {
						window.scrollTo({ top: 0, behavior: 'smooth' });
					})
				</script>
