---
import Markdown from 'astro:components';
interface Props {
  title: string;
  services: string;
  body:any
}

const { services, title } = Astro.props;
const servicesArray = services.split(',');
const collection = await Astro.glob('../content/cases/*.md');
const entry = collection.find((post) => post.frontmatter.title === title);
const { Content } =  entry;

---

<div class="cs-container px-4 pt-4 w-full mb-8 border-none">
  <div class="flex flex-wrap gap-2 mb-4">
    {
      servicesArray.map((service) => (
        <div class="pill border border-1 flex justify-center px-[10px] py-[3px] border-[#171F29] rounded-md font-inter font-[400] text-[10px] uppercase">
          {service}
        </div>
      ))
    }
  </div>
  <div class="flex justify-between">
    <h2 class="font-gabriela text-[30px] text-[#171F29]">{title}</h2>
    <button
      class="toggleButton justify-self-end self-start bg-[#FEEF50] px-[9px] py-[3px] rounded-tr-[7px] rounded-bl-[7px] font-inter font-[700] uppercase"
      >MORE</button>
  </div>
  <div class="h-[2px] bg-[#171F29]/[0.2] my-3"><hr></div>
  <div class="cs-content hidden " style="transition: max-height 0.7s ease-out;">
    <div class="flex flex-col flex-1 font-inter text-[14px] font-[400] leading-[21px]" ><Content /></div>
    <div>
      <div class="h-8 flex justify-between items-end mb-4 ">
        <div class="bg-[#171F29] px-[9px] py-[3px] rounded-tr-[7px] rounded-bl-[7px] font-inter font-[700] uppercase text-white text-[12px]">CASE STUDIES</div>
        <button class="closeButton text-[#171F29] underline uppercase font-inter font-[700] text-[10px]">CLOSE</button>
      </div>
    </div>
  </div>
</div>



<style>
  .cs-container.open .pill {
      background-color: #171F29;
      color: #fff;
  }

  .cs-container{
    transition: all 0.7s ease;
  }
</style>

<script>
  document.querySelectorAll(".toggleButton").forEach((button) => {
    button.addEventListener("click", function () {
      var content = this.parentNode.nextElementSibling;
      var container = this.closest(".cs-container");

      container.classList.add("min-h-screen", "bg-[#FEEF50]","flex","flex-col","flex-1","h-full","open");
      container.querySelector(".cs-content").classList.add("flex", "flex-col", "flex-1");
      container.querySelector(".cs-content").classList.remove("hidden");
      this.classList.add("hidden");
    });
  });

  document.querySelectorAll(".closeButton").forEach((button) => {
    button.addEventListener("click", function () {
      var content = this.parentNode.nextElementSibling;
      var container = this.closest(".cs-container");
      container.classList.remove("min-h-screen", "bg-[#FEEF50]","flex","flex-col","flex-1","h-full","open");
      container.querySelector(".cs-content").classList.remove("flex", "flex-col", "flex-1");
      container.querySelector(".cs-content").classList.add("hidden");
      container.querySelector(".toggleButton").classList.remove("hidden");
    });
  });
</script>
