---
import { getCollection } from 'astro:content';
import CaseStudy from './CaseStudy.astro';

const caseStudies = await getCollection('cases')
---

<div class="flex flex-col">
					
    {caseStudies.map((caseStudy) => (
        <CaseStudy title={caseStudy.data.title.toString()} services={caseStudy.data.services.toString()} definitions={caseStudy.data.definitions.toString()} />
    ))}
</div>