---
interface Props{
    title: string;
    description: string;
    flag: string;
    subtitle: string;
}

const { title, description, flag, subtitle }: Props = Astro.props;
---

<div class="swiper-slide client bg-[#FEEF50] flex flex-col px-5">
    <div class="flex justify-between ">
        <h3 class="text-[32px] font-gabriela font-[600] text-[#171F29] italic mt-2 mb-0 leading-normal">{title}</h3>
    </div>
    <div>
        <p class="font-inter uppercase text-[16px] text-[#171F29] leading-[150%] w-[85%]">{description}</p>
    <div class="grid grid-cols-[3fr,1fr] content-end align-bottom">
        <div class="flex flex-col justify-end pb-[5px] uppercase font-[900] font-inter text-[14px] text-[#171F29]">{subtitle}</div>
        <img src= {flag} alt="flag" class="w-12 mb-2 text-[#171F29] justify-self-end" />
    </div>
    </div>
</div>

