---

import 'swiper/css';
import Client from './Client.astro';
const allClients = await Astro.glob('../content/clients/*.md');

---

<div class="swiper client-swiper">
  <div class="swiper-wrapper">
    {allClients.map((client) => (
      <Client 
                title={client.frontmatter.name}
                description= {client.frontmatter.description} 
                subtitle= {client.frontmatter.subtitle}
                flag={client.frontmatter.flag} />
    ))}
  </div>
  <div class="swiper-button-next"><img src="/clients-slider-arrow.svg" alt=""></div>
</div>

<style>
  .swiper-button-next{
    top:24px !important;
    right: 20px !important;
  }
  .swiper-button-next::after{
    content: none  !important;
  }
</style>

<script src="../libs/simple-slider.js"></script>
