<div class="hidden lg:flex lg:flex-col lg:w-full text-white mt-[38px] font-inter font-[300] text-[14px]">
    <div class="grid lg:grid-cols-5 min-w-[933px]">
        <div class="flex flex-col capitalize">
            <a href="#">Ethical Marketing Policy</a>
            <a href="#">Accessibility Statement</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="flex flex-col capitalize">
            <a href="#">Ethical Marketing Policy</a>
            <a href="#">Accessibility Statement</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="flex flex-col capitalize">
            <a href="#">Ethical Marketing Policy</a>
            <a href="#">Accessibility Statement</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div class="col-span-2 flex flex-col items-center uppercase">
            <div>assaly.ch </div>
            <div>10 rue de la Paix, Paris, France </div>
            <div>910 930 338 R.C.S Paris.</div>
            <div>Identifiant SIRET 91093033800017</div>
        </div>
        
    </div>

    <div class="w-full h-[1px] bg-white mt-5"></div>
    <div class="grid lg:grid-cols-3 mt-4">
        <a href="#">Cookieless Website</a>
        <div class="grid grid-cols-4">
            <a href="#"><img src="/footer-x.svg" alt=""></a>
            <a href="#"><img src="/footer-2.svg" alt=""></a>
            <a href="#"><img src="/footer-3.svg" alt=""></a>
            <a href="#"><img src="/footer-4.svg" alt=""></a>
            
        </div>
        <div>Copyright 2024 Assaly.ch</div>
    </div>
    
</div>