<div class="max-w-[933px] w-full mx-auto grid grid-cols-3 lg:grid-cols-6 gap-6 lg:gap-3 py-8">
    <img src="/meta.svg" alt="">
    <img src="/amazon.svg" alt="">
    <img src="/google.svg" alt="">
    <img src="/audioeye.svg" alt="">
    <img src="/shopify.svg" alt="">
    <img src="/klaviyo.svg" alt="">
</div>