<div class="mobile flex flex-col lg:hidden">
    <div class="max-w-[933px] w-full mx-auto grid grid-cols-3 lg:grid-cols-6 gap-3 lg:gap-3 py-8">
        <div class="flex flex-col justify-center items-center"><img src="/meta.svg" alt="" class="w-[85%]"></div>
        <div class="flex flex-col justify-center items-center"><img src="/amazon.svg" alt="" class="w-[85%]"></div>
        <div class="flex flex-col justify-center items-center"><img src="/google.svg" alt="" class="w-[85%]"></div>
        
    </div>
    <div class=" h-[1px] bg-[#171F29]/[0.2]"></div>
    
    <div class="max-w-[933px] w-full mx-auto grid grid-cols-3 lg:grid-cols-6 gap-3 lg:gap-3 py-8">
        
        <div class="flex flex-col justify-center items-center"><img class="w-[85%]" src="/audioeye.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img class="w-[85%]" src="/shopify.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img class="w-[85%]" src="/klaviyo.svg" alt=""></div>
    </div>
</div>

<div class="desktop hidden lg:flex lg:justify-center w-full">
    <div class="max-w-[933px] w-full mx-auto grid grid-cols-3 lg:grid-cols-6 gap-6 lg:gap-3 py-8">
        <div class="flex flex-col justify-center items-center"><img src="/meta.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/amazon.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/google.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/audioeye.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/shopify.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/klaviyo.svg" alt=""></div>
        
    </div>
</div>