<div class="w-full mobile flex flex-col lg:hidden">
    <div class=" w-full mx-auto flex gap-3 lg:gap-3 py-8">
        <div class="w-full flex flex-col justify-center items-center"><img class="w-full max-w-[86px]" src="/meta-business-partner-assalych.svg" alt="" class="w-[85%]"></div>
        <div class="w-full flex flex-col justify-center items-center"><img class="w-full max-w-[80px]" src="/google-partner-assalych.svg" alt="" class="w-[85%]"></div>
        <div class="w-full flex flex-col justify-center items-center"><img class="w-full max-w-[95px]" src="/amazon-ads-assalych.svg" alt="" class="w-[85%]"></div>
        
    </div>
    <div class=" h-[1px] bg-[#171F29]/[0.2]"></div>
    
    <div class="flex w-full mx-auto gap-3 lg:gap-3 py-8">
        
        <div class=" w-full flex flex-col justify-center items-center"><img class="w-full max-w-[86px]" src="/audioeye-partner-assalych.svg" alt=""></div>
        <div class=" w-full flex flex-col justify-center items-center"><img class="w-full max-w-[161px]" src="/shopify-partner-assalych.svg" alt=""></div>
        <div class=" w-full flex flex-col justify-center items-center"><img class="w-full max-w-[71px]" src="/klaviyo-partner-assalych.svg" alt=""></div>
    </div>
</div>

<div class="desktop hidden lg:flex lg:justify-center w-full">
    <div class="max-w-[933px] w-full mx-auto grid grid-cols-3 lg:grid-cols-6 gap-6 lg:gap-3 py-8">
        <div class="flex flex-col justify-center items-center"><img src="/meta-business-partner-assalych.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/amazon-ads-assalych.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/google-partner-assalych.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/audioeye-partner-assalych.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/shopify-partner-assalych.svg" alt=""></div>
        <div class="flex flex-col justify-center items-center"><img src="/klaviyo-partner-assalych.svg" alt=""></div>
        
    </div>
</div>