---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/global.css';
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLang = Astro.params.lang || 'en';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-[#171F29]">
		<header class="mobile lg:hidden">
			<div class="flex justify-center pt-12 pb-[5px]">
				<img class="w-[165px]" src="./assaly.ch-logo.svg" alt="">
			</div>
			<div class="flex justify-between px-5">
				<button title="menu-toggle" class="menu-toggle text-white uppercase underline font-inter text-[14px] leading-normal">Menu</button>
				<button title="language" class="lang-toggle text-white uppercase underline font-inter text-[14px] leading-normal">Language</button>
			</div>

			<div class="menu fixed z-20 top-0 w-screen h-screen pt-14 hidden flex-col justify-between items-center  bg-[#FEEF50]">
				<img class="w-[165px]" src="./assaly.ch-logo-transparent.svg" alt="">
				<div class="flex flex-col gap-9">
					<a href="#" title="language" class=" italic text-[#171F29] text-center font-gabriela font-[600] text-[30px] leading-normal">Digital Design<a>
						<a href="#" title="language" class=" italic text-[#171F29] text-center font-gabriela font-[600] text-[30px] leading-normal">Search Engine Optimization<a>
						<a href="#" title="language" class=" italic text-[#171F29] text-center font-gabriela font-[600] text-[30px] leading-normal">Online Advertising<a>
						<a href="#" title="language" class=" italic text-[#171F29] text-center font-gabriela font-[600] text-[30px] leading-normal">E-commerce<a>
				</div>
					<button class="menuCloseButton mb-[41px] text-[#171F29] underline uppercase font-inter font-[700] text-[12px] leading-[160%] self-end">CLOSE</button>
			</div>


			<div class="lang-menu fixed z-20 top-0 w-screen h-screen pt-14 hidden flex-col items-center justify-between bg-[#FEEF50]">
				<img class="w-[165px]" src="./assaly.ch-logo-transparent.svg" alt="">
				<div class="flex flex-col items-center gap-9">
					<a href="#" title="language" class=" italic text-[#171F29] font-gabriela font-[600] text-[30px] leading-normal">English<a>
						<a href="#" title="language" class=" italic text-[#171F29] font-gabriela font-[600] text-[30px] leading-normal">简体中文<a>
						<a href="#" title="language" class=" italic text-[#171F29] font-gabriela font-[600] text-[30px] leading-normal">العربية<a>
						<a href="#" title="language" class=" italic text-[#171F29] font-gabriela font-[600] text-[30px] leading-normal">Français<a>
				</div>
					<button class="langCloseButton mb-[41px] text-[#171F29] underline uppercase font-inter font-[700] text-[12px] leading-[160%] self-end">CLOSE</button>
			</div>
		</header>
		<header class="desktop hidden lg:flex lg:max-w-[1440px] lg:mx-auto">
			
			<div class="flex w-full justify-between px-5 mt-16">
				<button title="menu-toggle" class="text-white uppercase underline font-inter text-xs">Menu</button>
				<img class="max-w-36" src="/assaly.ch-logo.svg" alt="">
				<button title="language" class="text-white uppercase underline font-inter text-xs">Language</button>
			</div>
		</header>
		<main class="lg:max-w-[1440px] lg:mx-auto">
		<slot />
		</main>
	</body>
</html>

<script>

const menu = document.querySelector('.menu');
const langMenu = document.querySelector('.lang-menu');
const menuCloseButton = document.querySelector('.menuCloseButton');
const langCloseButton = document.querySelector('.langCloseButton');
const menuToggle = document.querySelector('.menu-toggle');
const langToggle = document.querySelector('.lang-toggle');
menuToggle.addEventListener('click', () => {
	menu.classList.remove('hidden')
	menu.classList.add('flex')
})
menuCloseButton.addEventListener('click', () => {
	menu.classList.add('hidden')
	menu.classList.remove('flex')

})

langToggle.addEventListener('click', () => {
	langMenu.classList.remove('hidden')
	langMenu.classList.add('flex')
})
langCloseButton.addEventListener('click', () => {
	langMenu.classList.add('hidden')
	langMenu.classList.remove('flex')
})
</script>